-
  const books = [
    {
        imagePath: `${contentImagePath}book-iron-king.jpg`,
        author: 'Смит Ч.',
        name: 'Фигурная абстракция',
        description: 'Про искусство, дизайн, а также теорию цвета и формы',
        rating: '3.8',
        link: '#',
        pageCount: '416',
    },
    {
        imagePath: `${contentImagePath}book-fox-hole.jpg`,
        author: 'Малкин А.',
        name: 'Пустошь',
        description: 'Научно-фантастический роман о путешествии через опустошенную пустыню',
        rating: '4.2',
        link: '#',
        pageCount: '336',
    },
    {
        imagePath: `${contentImagePath}book-just-masa.jpg`,
        author: 'Зоммер Р.',
        name: 'Высший свет',
        description: 'Исследует роль элиты в развитии общества и ее влияние на политику',
        rating: '4.5',
        link: '#',
        pageCount: '448',
    },
    {
        imagePath: `${contentImagePath}book-green-light.jpg`,
        author: 'Фрэй С.',
        name: 'Ангельский мир',
        description: 'Фантастическая книга о загадочном мире ангелов и людей',
        rating: '3.9',
        link: '#',
        pageCount: '320',
    },
    {
        imagePath: `${contentImagePath}book-sun-midnight.jpg`,
        author: 'Плетнёв Л.',
        name: 'Завтра на завтрак',
        description: 'Мир, где технологии развиваются быстрее, чем человеческий разум',
        rating: '3.5',
        link: '#',
        pageCount: '784',
    },
    {
        imagePath: `${contentImagePath}book-second-life.jpg`,
        author: 'Бакман Ф.',
        name: 'Созерцая красоту залива',
        description: 'Захватывающая история о том, как небольшой залив превращается в источник',
        rating: '4.4',
        link: '#',
        pageCount: '384',
    },
    {
        imagePath: `${contentImagePath}book-istrebitel.jpg`,
        author: 'Роуз М.',
        name: 'На грани',
        description: 'Роман о группе исследователей, которые отправляются на остров',
        rating: '3.9',
        link: '#',
        pageCount: '576',
    },
    {
        imagePath: `${contentImagePath}book-lavr.jpg`,
        author: 'Новак К.',
        name: 'Сонное дерево',
        description: 'История о таинственном дереве, которое растет на границе двух миров',
        rating: '4.1',
        link: '#',
        pageCount: '448',
    },
    ]